footer.footer
    .container
        .footer-wrap
            a.header-logo
                img.header-logo__image(src="assets/images/header/logo.png", alt="логотип ярстрой")
            .header-nav
                a.header-nav__link(href='#') О нас
                a.header-nav__link(href='#') Продукция
                a.header-nav__link(href='#') Контакты
            .header-contacts
                a.header-contacts__phone(href='tel: 8 (999) 238-04-97') 8 (999) 238-04-97
                p.header-contacts__adress Пр-т. Энгельса, д. 50
        .footer-bottom
            p.footer__copyright
                | Официальный сайт ООО “Ярстрой", все права защищены
            a(href="./privacy.html").footer__politicy
                | Политика конфиденциальности
