header.container.header
  .header-wrap
    a(href="http://localhost:3000").header-logo
      img.header-logo__image(src="assets/images/header/logo.png", alt="логотип ярстрой")
    .header-nav
      a.header-nav__link(href='http://localhost:3000') О нас
      a.header-nav__link(href='http://localhost:3000/catalog.html') Продукция
      a.header-nav__link(href='http://localhost:3000/contacts.html') Контакты
    .header-contacts
      a.header-contacts__phone(href='tel: 8 (999) 238-04-97') 8 (999) 238-04-97
      p.header-contacts__adress Пр-т. Энгельса, д. 50
      a.header-contacts__button(href='#form') Связаться с нами
    .header-burger
      .header-burger__burger
.headerMobile
  .header-nav
    a.header-nav__link(href='http://localhost:3000') О нас
    a.header-nav__link(href='http://localhost:3000/catalog.html') Продукция
    a.header-nav__link(href='http://localhost:3000/contacts.html') Контакты
  .header-contacts
    a.header-contacts__phone(href='tel: 8 (999) 238-04-97') 8 (999) 238-04-97
    p.header-contacts__adress Пр-т. Энгельса, д. 50
    a.header-contacts__button(href='http://localhost:3000#form') Связаться с нами