section.container
  .product-item.section-product-item
    .product-item-slider
      .product-item-slider-item
        img(src="assets/images/vibrator.jpg", alt="")
      .product-item-slider-item
        img(src="assets/images/vibrator.jpg", alt="")
      .product-item-slider-item
        img(src="assets/images/vibrator.jpg", alt="")
      .product-item-slider-item
        img(src="assets/images/vibrator.jpg", alt="")
      .product-item-slider-item
        img(src="assets/images/vibrator.jpg", alt="")
    .product-item-content
      .product-item-content-desc
        .product-item-content-desc__status
        p.product-item-content-desc__text В наличии
      h2.product-item-content__title Глубинные вибраторы
      p.product-item-content__text Глубинные вибраторы предназначены для уплотнения бетонных смесей при укладки их в монолитные конструкции с различной степенью армирования, а также при изготовлении бетонных и железобетонных изделий для сборного строительства и рассчитаны на питание от однофазной сети напряжением 220В, 380В или 42В переменного тока частотой 50 Гц через устройство электрозащитного отключения (УЗО). Мы производим комплекты глубинных вибродвигателей, а также все комплектующие к ним.
      .product-item-content-bot
        a(href="#").product-item-content-bot__order Заказать
        a(href="#").product-item-content-bot__get Получить КП
        p.product-item-content-bot__price 7 381 ₽
  .section-product-info
    .product-info
      a(href="#block1").product-info__title.active.js-tab-trigger Спецификация
      a(href="#block2").product-info__title.js-tab-trigger Документация
    .table.js-tab-content.active#block1
      .table-row
        .table-row__first-string Тип изделия
        .table-row__first-string Потр. мощ, кВт
        .table-row__first-string Номин. мощ, кВт
        .table-row__first-string Частота колебаний, мин-1
        .table-row__first-string Частота колебаний, мин-1
        .table-row__first-string Напряжение, В
        .table-row__first-string Масса, кг
      .table-row
        .table-row__string.first ВИ-75 (вал 1=3 м. + наконечник Æ 28)
        .table-row__string.second 1,4
        .table-row__string.third 1
        .table-row__string.four 18780
        .table-row__string.five 2
        .table-row__string.six 42/50
        .table-row__string.seven 21
      .table-row
        .table-row__string.first ВИ-75 (вал 1=3 м. + наконечник Æ 28)
        .table-row__string.second 1,4
        .table-row__string.third 1
        .table-row__string.four 18780
        .table-row__string.five 2
        .table-row__string.six 42/50
        .table-row__string.seven 21
      .table-row
        .table-row__string.first ВИ-75 (вал 1=3 м. + наконечник Æ 28)
        .table-row__string.second 1,4
        .table-row__string.third 1
        .table-row__string.four 18780
        .table-row__string.five 2
        .table-row__string.six 42/50
        .table-row__string.seven 21
      .table-row
        .table-row__string.first ВИ-75 (вал 1=3 м. + наконечник Æ 28)
        .table-row__string.second 1,4
        .table-row__string.third 1
        .table-row__string.four 18780
        .table-row__string.five 2
        .table-row__string.six 42/50
        .table-row__string.seven 21
      .table-row
        .table-row__string.first ВИ-75 (вал 1=3 м. + наконечник Æ 28)
        .table-row__string.second 1,4
        .table-row__string.third 1
        .table-row__string.four 18780
        .table-row__string.five 2
        .table-row__string.six 42/50
        .table-row__string.seven 21
      .table-row
        .table-row__string.first ВИ-75 (вал 1=3 м. + наконечник Æ 28)
        .table-row__string.second 1,4
        .table-row__string.third 1
        .table-row__string.four 18780
        .table-row__string.five 2
        .table-row__string.six 42/50
        .table-row__string.seven 21
      .table-row
        .table-row__string.first ВИ-75 (вал 1=3 м. + наконечник Æ 28)
        .table-row__string.second 1,4
        .table-row__string.third 1
        .table-row__string.four 18780
        .table-row__string.five 2
        .table-row__string.six 42/50
        .table-row__string.seven 21
      .table-row
        .table-row__string.first ВИ-75 (вал 1=3 м. + наконечник Æ 28)
        .table-row__string.second 1,4
        .table-row__string.third 1
        .table-row__string.four 18780
        .table-row__string.five 2
        .table-row__string.six 42/50
        .table-row__string.seven 21
        
    .section-docs.js-tab-content#block2
      .docs-form
        .docs-form-item
          a(href="h.pdf").docs-form-item__button
            <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 13.246V14.246C1 14.7983 1.44772 15.246 2 15.246H12C12.5523 15.246 13 14.7983 13 14.246V13.246" stroke="#0F304F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M7.75 0.753937C7.75 0.339723 7.41421 0.00393679 7 0.00393677C6.58579 0.00393675 6.25 0.339723 6.25 0.753937L7.75 0.753937ZM6.46967 12.2841C6.76256 12.577 7.23744 12.577 7.53033 12.2841L12.3033 7.51116C12.5962 7.21827 12.5962 6.7434 12.3033 6.4505C12.0104 6.15761 11.5355 6.15761 11.2426 6.4505L7 10.6931L2.75736 6.4505C2.46447 6.15761 1.98959 6.15761 1.6967 6.4505C1.40381 6.7434 1.40381 7.21827 1.6967 7.51116L6.46967 12.2841ZM6.25 0.753937L6.25 11.7538L7.75 11.7538L7.75 0.753937L6.25 0.753937Z" fill="#0F304F"/>
            </svg>
            | Скачать
          .docs-form-item-wrap
            .docs-form-item-wrap__image
            .docs-form-item-wrap-text
              p.docs-form-item-wrap-text__name  Документация на глубинный вибратор
              p.docs-form-item-wrap-text__size  14MB

        .docs-form-item
          a(href="h.docx").docs-form-item__button
            <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 13.246V14.246C1 14.7983 1.44772 15.246 2 15.246H12C12.5523 15.246 13 14.7983 13 14.246V13.246" stroke="#0F304F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              <path d="M7.75 0.753937C7.75 0.339723 7.41421 0.00393679 7 0.00393677C6.58579 0.00393675 6.25 0.339723 6.25 0.753937L7.75 0.753937ZM6.46967 12.2841C6.76256 12.577 7.23744 12.577 7.53033 12.2841L12.3033 7.51116C12.5962 7.21827 12.5962 6.7434 12.3033 6.4505C12.0104 6.15761 11.5355 6.15761 11.2426 6.4505L7 10.6931L2.75736 6.4505C2.46447 6.15761 1.98959 6.15761 1.6967 6.4505C1.40381 6.7434 1.40381 7.21827 1.6967 7.51116L6.46967 12.2841ZM6.25 0.753937L6.25 11.7538L7.75 11.7538L7.75 0.753937L6.25 0.753937Z" fill="#0F304F"/>
            </svg>
            | Скачать
          .docs-form-item-wrap
            .docs-form-item-wrap__image
            .docs-form-item-wrap-text
              p.docs-form-item-wrap-text__name  Документация на глубинный вибратор
              p.docs-form-item-wrap-text__size  14MB
include ../common/popupForm