.container {
    width: 100%;
    max-width: 1368px;
    padding-left: 24px;
    padding-right: 24px;
    margin-left: auto;
    margin-right: auto;
}
.section {
    margin: 80px auto 0;
}

.main {
    display: flex;
    justify-content: space-between;
    &__img {
      width: 55%;
    }
    &-content {
        &__title {
            font-weight: normal;
            font-size: 40px;
            line-height: 135%;
            color: #0D0D0D;
            margin-bottom: 40px;
        }
        &__garant {
            font-size: 18px;
            line-height: 150%;
            color: #9F9F9F;
            margin-bottom: 76px;
        }
        &__link-product {
            max-width: 250px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 16px;
            line-height: 125%;
            color: #FFFFFF;
            background: #0F304F;
            border: 1px solid #0F304F;
            border-radius: 50px;
            padding: 15px 32px;
            transition: .3s;
            svg, svg path{
              transition: .3s;
            }
            &:hover{
              @media screen and (min-width: 1024px) {
                background-color: #fff;
                color: #0F304F;
              }
              svg{
                @media screen and (min-width: 1024px) {
                  transform: translateX(10px);
                }
              }
              svg path{
                @media screen and (min-width: 1024px) {
                  fill: #0F304F;
                }
              }
            }
        }
    }
}

.about {
    &__title {
        font-weight: normal;
        margin-bottom: 40px;
        font-size: 30px;
        line-height: 135%;
        color: #0D0D0D;
    }
    &-wrap {
        display: flex;
        justify-content: space-between;
    }
    &-advantages {
        margin: -12px;
        width: calc(100% + 24px);
        max-width: 760px;
        display: flex;
        flex-wrap: wrap;
        &-item {
            text-align: center;
            max-width: 312px;
            border: 1px solid #E9E9E9;
            box-sizing: border-box;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 200px;
            justify-content: center;
            width: calc(50% - 24px);
            margin: 12px;
            &__icon {
                margin-bottom: 24px;
            }
            &__text {
                font-size: 18px;
                line-height: 150%;
                color: #0F304F;
            }
        }
    }
    &-right {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 560px;
        margin-left: 32px;
        &__text {
            font-size: 18px;
            line-height: 150%;
            color: #505050;
        }
        &__link-about {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 138px;
            border: 1px solid #0F304F;
            border-radius: 50px;
            font-size: 16px;
            line-height: 125%;
            color: #0F304F;
            margin-top: auto;
            transition: .3s;
            height: 50px;
            &:hover{
              @media screen and (min-width: 1024px) {
                background-color: #0F304F;
                color: #fff;
              }
            }
        }
    }
}
.section-contacts {
    margin-top: 136px;
}

.contacts {
    &__file {
        padding: 1.5px 0;
        display: none;
        align-items: center;
        margin-top: 24px;
        font-size: 16px;
        line-height: 125%;
        color: #9F9F9F;
        svg {
            cursor: pointer;
            margin-left: 8px;
            height: 20px;
            width: 20px;
            path {
                fill: #9F9F9F;
            }
        }
    }
    &-wrap {
        border: 1px solid #E9E9E9;
        border-radius: 5px;
        padding: 48px 40px 40px;
        background: url(../images/formbg.svg);
        background-position: top right;
        background-repeat: no-repeat;
        max-height: 565px;
        background-size: contain;
    }
    &-top {
        &__title {
            font-weight: normal;
            margin-bottom: 40px;
            font-size: 30px;
            line-height: 135%;
            color: #0D0D0D;
        }
        &__comment {
            font-size: 16px;
            line-height: 125%;
            color: #9F9F9F;
        }
    }
    &-form {
        display: flex;
        flex-wrap: wrap;
        margin: 28px -12px -12px;
        max-width: calc(648px + 48px);
        input {
            padding: 16px 24px;
            border: 1px solid #E9E9E9;
            box-sizing: border-box;
            border-radius: 5px;
            height: 50px;
            margin: 12px;
            width: calc(100% / 3 - 24px);
            font-size: 16px;
            line-height: 125%;
            &::placeholder {
                color: #9F9F9F;
            }
        }
        textarea {
            padding: 16px 24px;
            width: 100%;
            border: 1px solid #E9E9E9;
            border-radius: 5px;
            margin: 12px;
            height: 120px;
            resize: none;
            &::placeholder {
                color: #9F9F9F;
            }
        }
        &-bottom {
            margin-top: 40px;
            display: flex;
            align-items: center;
            @keyframes plane {
              0% {
                transform: none;
              }
              10% {
                transform: translateX(8px) translateY(-1px);
              }
              50% {
                transform: translateX(12px) translateY(-4px) rotate(-360deg);
              }
              100% {
                transform: rotate(-360deg);
              }
            }
            button {
                font-size: 16px;
                line-height: 125%;
                cursor: pointer;
                color: #FFFFFF;
                display: flex;
                align-items: center;
                padding: 0 32px;
                margin-right: 40px;
                background: #0F304F;
                border: 1px solid #0F304F;
                border-radius: 50px;
                height: 50px;
                svg {
                  margin-left: 8px;
                }
                &:hover svg{
                  @media screen and (min-width: 1024px){
                    animation: plane 1.6s;
                  }
                  path{
                    @media screen and (min-width: 1024px) {
                      stroke: #0F304F;
                    }
                  }
                }


                transition: .3s;
                svg path{
                  transition: .3s;
                }
                &:hover{
                  @media screen and (min-width: 1024px) {
                    background-color: #fff;
                    color: #0F304F;
                  }
                }
            }
            &__text {
                font-size: 16px;
                line-height: 125%;
                color: #9F9F9F;
            }
        }
    }
    &-file {
        display: block;
        margin-top: 24px;
        cursor: pointer;
        input {
            display: none;
        }
        &__text {
            display: flex;
            align-items: center;
            font-size: 16px;
            line-height: 125%;
            color: #9F9F9F;
            transition: .3s;
            &:hover{
              @media screen and (min-width: 1024px){
                color: #000;
              }
            }
            svg {
                margin-right: 8px;
            }
        }
    }
}

@media screen and (max-width: 1150px) {
  .about {
    &-advantages {
        &-item {
          &__text {
          font-size: 16px;
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .section {
    margin-top: 48px;
  }
  .main {
    &-content {
      &__title {
        font-size: 30px;
        line-height: 135%;
      }
      &__garant {
        font-size: 16px;
        line-height: 125%;
        margin-bottom: 40px;
      }
    }
  }
  .about {
    &__title {
      font-size: 24px;
      line-height: 135%;
    }
    &-wrap {
      flex-direction: column;
    }
    &-advantages {
      margin-right: 0;
      margin-bottom: 40px;
      max-width: none;
      &-item {
        padding: 40px 49px;
        max-width: none;
        &__text {
          font-size: 18px;
        }
      }
    }
    &-right {
      max-width: none;
      margin-left: 0;
      &__text {
        margin-bottom: 40px;
      }
    }
  }
  .contacts {
    &-wrap {
      padding: 48px 24px 40px;
      background-size:40%;
    }
    &-top {
      &__title {
        font-size: 24px;
        line-height: 135%;
      }
      &__comment {
        font-size: 16px;
        line-height: 125%;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .container {
    padding: 0 16px;
  }
  .section {
    .main {
      flex-direction: column-reverse;
      &__img {
        width: 100%;
      }
      &-content {
        margin-top: 24px;
        &__title {
          font-size: 24px;
          margin-bottom: 0;
        }
        &__garant {
          margin: 16px 0 24px;
        }
      }
    }
  }
  .section {
    .about {
      &__title {
        margin-bottom: 24px;
      }
      &-wrap {
        .about-advantages {
          margin-bottom: 24px;
          &-item {
            justify-content: start;
            flex-direction: row;
            width: 100%;
            height: 100%;
            padding: 24px;
            &__icon {
              margin: 0 24px 0 0;
            }
            &__text {
              text-align: left;
              font-size: 16px;
              line-height: 125%;
            }
          }
        }
        .about-right {
          &__text {
            font-size: 16px;
            line-height: 125%;
            margin-bottom: 24px;
          }
        }
      }
    }
  }
  .section-contacts {
    margin-top: 80px;
    .contacts-wrap {
      padding: 24px 16px;
      background-size: 0%;
      border-right: 0;
      border-left: 0;
      border-radius: 0;
      max-height: none;
      .contacts-top {
        &__title {
          margin-bottom: 24px;
        }
      }
      form {
        .contacts-form {
          margin: 24px 0 0 0;
          flex-direction: column;
          input {
            width: 100%;
            margin: 8px 0 8px 0;
          }
          textarea {
            margin: 8px 0 0 0;
          }
          &-bottom {
            flex-direction: column;
            justify-content: start;
            align-items: start;
            &__text {
              margin-top: 24px;
            }
          }
        }
      }
    }
  }
}
